pkgbase = note
	pkgdesc = Simple CLI notes manager
	pkgver = 1.14.5
	pkgrel = 1
	url = https://github.com/thek4n/note
	arch = any
	license = MIT
	depends = git
	optdepends = python-grip: render tips in browser
	optdepends = fzf: find notes
	optdepends = bat: render tips in terminal
	optdepends = tree: tree of notes
	conflicts = note
	source = note::git+https://github.com/thek4n/note.git#branch=master
	sha256sums = SKIP

pkgname = note
