pkgbase = note
	pkgdesc = Simple CLI notes manager
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/thek4n/note
	arch = any
	license = MIT
	makedepends = git
	depends = git
	optdepends = python3: for python-grip
	optdepends = python-grip: render tips in browser
	optdepends = glow: render tips in terminal
	conflicts = note
	source = note::git+https://github.com/thek4n/note.git#branch=master
	sha256sums = SKIP

pkgname = note
